NEXT_PUBLIC_OAUTH_REDIRECT_BASE=http://localhost:3000
NEXT_PUBLIC_GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_LINUXDO_CLIENT_ID=
LINUXDO_CLIENT_SECRET=
