NEXT_PUBLIC_OAUTH_REDIRECT_BASE=http://localhost:3000
ADMIN_SECRET=
NEXT_PUBLIC_GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
NEXT_PUBLIC_LINUXDO_CLIENT_ID=
LINUXDO_CLIENT_SECRET=
NEXT_PUBLIC_TUFF_NEXUS_CLIENT_ID=
TUFF_NEXUS_CLIENT_SECRET=
TUFF_NEXUS_AUTHORIZE_URL=
TUFF_NEXUS_TOKEN_URL=
TUFF_NEXUS_USERINFO_URL=
TUFF_NEXUS_SCOPE=openid profile email
